.gl-productview-body {
    margin: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #00000005;
    border-radius: 5px;
}

.gl-productview-body-title {
    font-size: xx-large;
    font-weight: 600;
    margin: 10px;
}

.gl-productview-body-img {
    width: 200px;
    margin: 10px;
}

.gl-productview-body-description {
    margin: 10px;
    font-size: x-large;
}

.gl-productview-body-description > span {
    font-weight: 500;
}

.gl-productview-body-type, .gl-productview-body-price, .gl-productview-body-rating {
    font-size: larger;
    margin: 10px;
}

.gl-productview-body-type > span {
    font-weight: 500;
}
.gl-productview-body-rating > span {
    font-weight: 500;
}
.gl-productview-body-price > span {
    font-weight: 500;
}