.gl-product-card {
    width: 250px;
    padding: 10px;
    margin: 10px;
}

.gl-product-card > .ant-card-body {
    padding: 15px 5px;
}

.gl-product-card-img {
    height: 200px;
    object-fit: cover;
}

.gl-product-card-title {
    font-size: large;
    font-weight: 500;
}

.gl-product-card-price, .gl-product-card-ratings {
    font-size: medium;
    font-weight: 500;
    color:#00000078;
}