.gl-header {
    padding: 15px;
    display: flex;
}

.gl-header-body {
    display: flex;
    align-items: center;
}

.gl-header-back {
    margin: 10px 8px;
    cursor: pointer;
    outline-offset: 6px;
    font-size: large;
    font-weight: 600;
}
.gl-header-prefix-icon{
    margin: 10px 8px;
    font-size: large;
    font-weight: 600;
}

.gl-header-title-wrap {
    display: flex;
    align-items: baseline;
}
.gl-header-title {
    margin: 10px 6px;
    font-size: x-large;
    font-weight: 600;
}
.gl-header-subtitle {
    margin: 10px 4px;
    color: #00000096;
}

.gl-header-back:hover {
    color: dodgerblue;
}